# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
venv/
env/

# Editor / OS
.vscode/
.idea/
*.swp
.DS_Store

# Runtime config written by the app (lives in ~/.config, but ignore if copied here)
config.json
